
name: Selenium standalone with wdio intercept-service

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]


jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run build --if-present
    - run: npm run wdio
    - name: Install allure commandline
      if: success() || failure()
      run: npm i -g allure-commandline
    - name: Combine Allure
      if: success() || failure()
      run: npm run allureCombine
    - name: Upload test report
      if: success() || failure()
      uses: actions/upload-artifact@v2
      with:
          name: Allure report
          path: test/.artifacts/allure-report/complete.html
